<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Author" value="B.Misiuta"/>
    <add key ="Date" value="12/06/2016"/>
    <add key ="Name" value="AmazingActivityMonitor"/>
    <add key ="Size" value="100"/>
    <add key ="Path" value="D:\migweb\Activities\"/>
  </appSettings>
</configuration>